.mas{
   
    width: 50px;
    height: 30px;

}
.itemCount{
    width: 20rem;
    height: 10rem;
    background-color:none;
    margin-top: 5rem;
    
}


.menos{
    
    width: 50px;
    height: 30px;
}
.agregar{
  
    width: 80px;
    height: 30px;
}

.cantidadProducto {
padding-top: 5rem;
color: aliceblue;
}


