.mas{
    margin-left: 1rem;
    width: 50px;
    height: 30px;

}
.itemCount{
    width: 30rem;
    height: 10rem;
    background-color: blue;
    margin-left: 30%;
}


.menos{
    margin-right: 1rem;
    width: 50px;
    height: 30px;
}
.agregar{
    margin:11px;
    width: 80px;
    height: 30px;
}

.cantidadProducto {
padding-top: 5rem;
color: aliceblue;
}


